.restaurants-section {
    max-width: 1500px;
    margin: 0 auto;
    padding: 75px 10% 75px;
    background-color: #fff;
}

.restaurants-section h4 {
    color: #000;
    font-size: 22px;
    margin-bottom: 10px;
    text-align: left;
}

.restaurants-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.restaurant-card {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #CCCCCC;
    transition: transform 0.1s;
    cursor: pointer;
}

.restaurant-card:hover {
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.restaurant-card-image-container {
    position: relative;
    width: 100%;
    height: 150px;
}

.restaurant-card-image-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    background-color: #fff;
}
.heart{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
}

.restaurant-card-image-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    border-radius: 10px;
    z-index: 1;
}

.status-tags-container,
.restaurant-logo-container {
    z-index: 2;
}

.status-tags-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.status-tag,
.preorder-tag {
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
}

.status-tag {
    opacity: 1;
    color: #fff;
}

.preorder-tag {
    border-radius: 13px;
    background-color: rgba(255, 255, 255);
    color: #ED145A;
    font-size: 12px;
    font-weight: 600;
}

.restaurant-logo-container {
    position: absolute;
    bottom: -20px;
    left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.restaurant-logo-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.restaurant-card-info {
    padding: 15px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    
}

.restaurant-card-info h3 {

    font-size: 18px;
    color: #000;
}

.restaurant-card-info h6 {
    margin: 0;
    font-size: 12px;
}

.restaurant-card-info .rating{
    font-weight: bold;
    color: #ED145A;
}

@media(max-width: 768px) {
    .restaurants-section {
        padding: 40px 10%;
    }
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.restaurant-carousel-controls {
  display: flex;
  gap: 8px;
}

.restaurant-carousel-btn {
  width: 30px;
  height: 30px;
  background: #fff;
  color: #DCDCDC;        
  font-size: 14px;
  font-weight: bold;
  border-radius: 50%;
  border: 1px solid #DCDCDC;
  cursor: pointer;
  z-index: 9;
}
.restaurant-carousel-btn.next{
color: #ED145A;
}


.restaurant-carousel-btn:hover {
  background: #000000;
}
.nameRating{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nameRating h5{
    font-size: 13px;
}
.nameRating img{
    margin-right: -10px;
}
.restaurant-card-info p{
    margin-top: 6px;
    opacity: 0.8;
    color: #fff;
    background-color: #ED145A;
    font-size: 13px;
    padding: 2px 9px;
    border-radius: 6px;
}


